<div class="central border_shadow">
  <div style="position:relative;width=67.5empx; height:38em; background-color: #333333;">
    <div id="myCarousel" class="carousel slide" style=" width: 55em; height: 36.7; margin:auto; top :1.65em" >
     <!-- Carousel indicators -->
     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
     </ol>   
     <!-- Carousel items -->
     <div class="carousel-inner">
        <% @carousel.each do |c| %>
          <% if @temp == 0 %>
            <div class="item active">
            <center><b><h3 style="color:white;"><%= c.title %></h3></b></center> 
              <%= link_to(image_tag(c.urlandscape, :size => "720x480"), m_path(c.movieid))%>
            </div>
            <% @temp = 1 %>
          <% else %>
            <div class="item">
              <center><b><h3 style="color:white;"><%= c.title %></h3></b></center>
              <%= link_to(image_tag(c.urlandscape, :size => "720x480"), m_path(c.movieid))%>
            </div>
          <% end %>
        <% end %>
    </div>

     <!-- Carousel nav -->

     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
     <a class="carousel-control right" href="#myCarousel" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div> 
  
  <div class="lists central border_shadow" style="position:relative; height:75em;background-color: white; top: 3.85em">
    <h2 style="padding-left: 3%;">Most Popular</h2>
      <ul id = "genres">
        <b><li style="font-size:1.5em; margin-left:3em;">Action</li></b>
        <b><li style="font-size:1.5em; margin-left:6.5em;">Comedy</li></b>
        <b><li style="font-size:1.5em; margin-left:5.7em;">Animation</li></b>
        <b><li style="font-size:1.5em; margin-left:5.2em;">Romance</li></b>
      </ul>
    
    <div id="Action" class="posters">
      <ol>
        <% @action.each do |a| %>
         <br><li>
            <p style="height:40px; width: 170px;"><%= a.title %></p>  
	          <%= link_to(image_tag(a.urlink) , m_path(a.movieid)) %>
            <hr> 
         </li>
        <% end %>
      </ol>
    </div>

    <div id="Comedy" class="posters">
      <ol>
        <% @comedy.each do |c| %>
        <br><li>
          <p style="height:40px; width: 170px;"><%= c.title %></p>           
          <%= link_to(image_tag(c.urlink) , m_path(c.movieid)) %>
          <hr> 
        </li>
        <% end %>
      </ol>
    </div>

    <div id="Animation" class="posters">
      <ol>
        <% @animation.each do |am| %>
         <br><li>
            <p style="height:40px; width: 170px;"><%= am.title %></p>           
            <%= link_to(image_tag(am.urlink) , m_path(am.movieid)) %>
            <hr> 
         </li>
        <% end %>
      </ol>
    </div>

    <div id="Romance" class="posters">
      <ol>
        <% @romance.each do |r| %>
         <br><li>
            <p style="height:40px; width: 170px;"><%= r.title %></p>           
            <%= link_to(image_tag(r.urlink) , m_path(r.movieid)) %>
            <hr> 
         </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>