

<div class="main right">
  <h2> JQuery vs YUI library11111111111111111</h2>
  <p style="color:black" >
  The Yahoo! User Interface Library (YUI) and jQuery are both open-source JavaScript libraries, hence there are several similarities shared: 1) at core, they both deal with DOM manipulations, have event utility. 2)for utilities, they are both equipped to create animations and effects. 3) in terms of architecture, YUI was influenced by jQuery and they both fuse algorithms and DOM data structures.</p>

  <br><br>form here<br>
<% form_for '@main', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br><br>

<%= form_for(@movie) do |f| %>  
  <div class="field"> 
    <%= f.label :aa %><br> 
    <%= f.text_area :id %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>

  </div>
</div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>