<p>
  <strong>First Name: *</strong>
  <%= @contact.First_Name %>
</p>

<p>
  <strong>Last Name: *</strong>
  <%= @contact.Last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.Email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @contact.Phone_Number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.Notes %>
</p>



<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

