<div class="main_body">
  <div class="container">
    
    <%= image_tag @movie.image %>

    <%= form_for(@movie) do |f| %>
      <%= f.label :"Create a moive" %> <br>
            Title:<br>
            <%= f.text_area :title %> <br>
            Image url:<br>
            <%= f.text_area :image %>  <br>
            Release_year:<br>
            <%= f.text_area :release_year %>  <br>
            Plot:<br>
            <%= f.text_area :plot %>  <br>


      <%= f.submit "anytext_for_update_btn", :class => "btn" %>   
    <% end %> 


  
    
    
  </div>
</div>