<div class="main_body">
  <div class="container">
    
    <%= image_tag @movie.urlink %>

    <%= form_for(@movie) do |f| %>
      <%= f.label :"Edit Movie info:" %> <br>
            Title:<br>
            <%= f.text_area :title %> <br>
            Producer:<br>
            <%= f.text_area :producer %> <br>
            Genre:<br>
            <%= f.text_area :genre %> <br>
            Year:<br>
            <%= f.text_area :year %> <br>
            Rating:<br>
            <%= f.text_area :rating %>  <br>
            URLink url:<br>
            <%= f.text_area :urlink %>  <br>
            Synopsys:<br>
            <%= f.text_area :synopsys %>  <br>


      <%= f.submit "anytext_for_update_btn", :class => "btn" %>   
    <% end %> 


  
    
    
  </div>
</div>
