<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
.carousel{
    background: black;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  margin: 20px;
}
</style>
</head>


<body>
<div class="central border_shadow">
<div style="position:relative;width=67.5empx; height:38em; background-color: grey; top:100px;">
	<div id="myCarousel" class="carousel slide" style=" width: 55em; height: 36.7; margin:auto; top :1.65em" >
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active">
      <a href="http://localhost:3000/movies">
         <img src="http://i.telegraph.co.uk/multimedia/archive/03235/bond_3235796b.jpg" alt="First slide" style=" width: 720x; height: 480px;" >
         </a>
      </div>
      <div class="item">
        <a href="http://localhost:3000/movies">     
         <img src="http://s2.dmcdn.net/Oe6cN.jpg" alt="Second slide" style=" width: 720px; height: 480px;">
        </a>
      </div>
      <div class="item">
        <a href="http://localhost:3000/movies">
         <img src="http://oi57.tinypic.com/28bfu3a.jpg" alt="Third slide" style=" width: 720px; height: 480px;"> 
        </a>
      </div>
      <div class="item">
        <a href="http://localhost:3000/movies">
         <img src="http://images-cdn.moviepilot.com/image/upload/c_fill,h_1080,w_1920/t_mp_quality/h20wkj2-iron-man-vs-captain-america-who-sides-with-who-in-marvel-s-civil-war-jpeg-151871.jpg" alt="Fourth slide" style=" width: 720px; height: 480px;"> 
        </a>
      </div>
      <div class="item">
        <a href="http://localhost:3000/movies">
         <img src="http://img05.deviantart.net/0220/i/2013/328/6/9/batman_vs_superman_poster__copyright__by_charliesposters-d6vflkf.png" alt="Fifth slide" style=" width: 720px; height: 480px;"> 
        </a>
      </div>
   </div>

   <!-- Carousel nav -->

   <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> 
  </div>

  <br>

  <div class="create_movie" style="position:relative; margin-top:200px;">
  <%= form_for(@movie) do |f| %>  
    <div class="field"> 
      <%= f.label :"Create a moive" %> <br>
      <%= f.text_area :title, placeholder:  "placeholder text" %> <br>  
      <%= f.text_area :image, :placeholder =>  "image url" %>  <br>
      <%= f.text_area :release_year,:placeholder =>  "year" %>  <br>
      <%= f.text_area :plot,:placeholder => "plot"  %>  <br>
    </div> 
    <div class="actions"> 
      <%= f.submit "Create" %> 
    </div> 
  <% end %>
  </div> 

  <br>

  <div class="container" style= "position:relative;left:1000px;">
  <h2>Popular Films</h2>
    <% @movies.each do |m| %>
    <div class="movie">
      <%= image_tag m.image %>
      <h3><%= m.title %></h3>
      <p> <%= m.release_year %> </p>
      <%= link_to "Learn more", movie_path(m) %> 
      <!--<%= link_to "Learn more", '/movies/2' %> 
      <a href="/movies/2">Learn more</a>-->
    </div>
    <% end %>
  </div>
  </div>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 5000
    })
  });
</script>
</html>