<!DOCTYPE html>
<html lang="en">

<head>
<style type="text/css">
.youtube{
  background-color: black;
  background-size: contain;
  padding: 1px 16px;
}
</style>
</head>



<div class="main_body">

  <div class="container">


    <h2>Search results:</h2>
    <% @movies.each do |m| %>
      <div class="movie">
        <%= image_tag m.image %>
        <h3><%= m.title %></h3>
        <p> <%= m.release_year %> </p>
        <%= link_to "Learn more", movie_path(m) %> 
        <!--<%= link_to "Learn more", '/movies/2' %> 
        <a href="/movies/2">Learn more</a>-->
      </div>
    <% end %>
    
<iframe class = "youtube container-red" width="560" height="315" src="//www.youtube.com/embed/yQ5U8suTUw0" frameborder="0" allowfullscreen></iframe></div>









      
  </div>
</div>
