<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="central border_shadow" >

  <div id="movie_show">

    <div id="trailer_panel">
      <div id="trailer_top_panel">
        <div id="movie_info"> 
          <h3 class="movie-title"><%= @movie.title %> &emsp; <button id="add_watchlist">Add to Watchlist</button> </h3>
        </div>
        <div id="share">
          <ul id="share_list_ul">
         <!--  Share:
            <li>youtube</li>
            <li>FB</li>
            <li>Twitter</li> -->
            <li></li>
          </ul>

        </div>
      </div>
      <div id="trailer_middle_panel">
        <div id="vote_panel">
          <div id="upvote_panel" align="center">
          <img id="upvote_img" src="<%= asset_path 'upvote_g.png' %>" style="width: 70%;  height: 90%;" >
          </div> 
          <div id="vote_value_panel">
          <p id="vote_value"> <%= @number %></p>
          </div> 
          <div id="downvote_panel" align="center">
          <img id="downvote_img" src="<%= asset_path 'downvote_g.png' %>" style=" width: 70%; height: 90%;" >
          </div> 
        </div> 
        <div id="youtube_panel">
          <iframe id = "youtube_player" height="100%" width="100%" src="<%= @movie.ytlink %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <%# middle end%>


      <div id="trailer_bottom_panel">
      <ul id="youtube_list_ul">
          <li><div  class="youtube_list_div">
            <img class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/0.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div  class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/TSm82j_MFzY/0.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/TSm82j_MFzY</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <img class="yt_button" style="height: 40%; width:30%; " src="<%= asset_path 'play.png' %>" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
      </ul>
      </div>
    </div>  <%# trailer_panel %>

  </div> <%# movie_show %>
    <div class="fb-comments" data-href=<%=@link %> data-width="600" data-numposts="5"></div>
</div>



<script type="text/javascript">

  $(document).ready(function() { 
    // var url = <% request.fullpath %> ;
    var url = "/movies/" + <%=@movie.movieid%> ;
    // var vote_status = @vote_status; //from controller
    var vote_status = 0;

    $('.add_watchlist').on('click',function(){
    var id = $(this).attr("data-val");
    var url2 = "/watchlist/"+id+"/add";
    $.ajax({
      type: "POST",
      url:   url2,
      data: {"method":"POST", "m_id" : id},
      dataType: "json"
    });});


    $("#upvote_panel").click(function() {
      var href = window.location.href;
      var mid = href.substring(href.lastIndexOf('/')+1);
      var url = "/movies/"+ mid;
      if (vote_status == -1){ //currently down voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: {'vote' : '2',},
          dataType: "json",
          // success: function() {
              
          // }
        });
        $('#downvote_img').attr("src", "<%= asset_path 'downvote_g.png' %>");
              $('#upvote_img').attr("src", "<%= asset_path 'upvote.png' %>");
              $("#vote_value").load("<%= @movie.movieid %> #vote_value");
              vote_status = 1;
      }
      else if (vote_status == 0){ //currently not voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: {'vote' : '1',},
          dataType: "json",
          // success: function() {
          
          // }
        });
            $('#upvote_img').attr("src", "<%= asset_path 'upvote.png' %>");
              $("#vote_value").load("<%= @movie.movieid %> #vote_value");
              vote_status = 1;
              // alert("hihi");
      }
      else{             //currently up voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: {'vote' : '-1',},
          dataType: "json",
          // success: function() {            
          
          // }
        });
            $('#upvote_img').attr("src", "<%= asset_path 'upvote_g.png' %>");
              $("#vote_value").load("<%= @movie.movieid %> #vote_value");
              vote_status = 0;
      }
    });

    $("#downvote_panel").click(function() {
      var href = window.location.href;
      var mid = href.substring(href.lastIndexOf('/')+1);
      var url = "/movies/"+ mid;
      if (vote_status == -1){ //currently down voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: 'vote=1',
          dataType: "json",
          // success: function() {          
           
          // }
           
        });
        $('#downvote_img').attr("src", "<%= asset_path 'downvote_g.png' %>");
            $("#vote_value").load("<%= @movie.movieid %> #vote_value");
            vote_status = 0;
      }
      else if (vote_status == 0){ //currently un voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: 'vote=-1',
          dataType: "json",
          // success: function() {
            
          // }
         
        });
         $('#downvote_img').attr("src", "<%= asset_path 'downvote.png' %>");
            $("#vote_value").load("<%= @movie.movieid %> #vote_value");
            vote_status = -1;
      }
      else {                //currently up voted
        $.ajax({
          type: "PATCH",
          url: url,
          data: 'vote=-2',
          dataType: "json",
          // success: function() {
            
          // }
        });
        $('#upvote_img').attr("src", "<%= asset_path 'upvote_g.png' %>");
            $('#downvote_img').attr("src", "<%= asset_path 'downvote.png' %>");
            $("#vote_value").load("<%= @movie.movieid %> #vote_value");
            vote_status = -1;
      }
    });
  $("#add_watchlist").click(function(){
    // alert("clciked");
    var href = window.location.href;
      var mid = href.substring(href.lastIndexOf('/')+1);
      var url = "/watchlist/create";
      $.ajax({
        type: "POST",
        url: url,
        data: { 'watchlists[uid]' : "1",
                'watchlists[movieid]' : mid,
              },
        dataType: "json",

      });
      $(this).text("In watchlist");
      $(this).prop('disabled',true);
  });
});
</script>












