<script> 
$(document).ready(function() {
	$('.remove_from_watchlist').on('click',function(){
		var id = $(this).attr("data-val");
		var url = "/watchlist/"+id+"/delete";
		$.ajax({
			type: "POST",
			url:   url,
			data: {"_method":"delete", "m_id" : id},
			dataType: "json"
		});
    	$(this).closest('li').remove();
	});
});
</script>

<div class="central border_shadow">
	<h2 style="padding-left:2em;padding-top: 1em">Your Watchlist </h2>
	<hr width="85%">
	<div id="Action" class="watchlist_result">
	  <ul style="list-style-type: none;">
	    <% @watchlist.each do |w| %>
	     <li>
	    	<div style="float: left"><%= image_tag(w.urlink)%></div>
	    	<div style="margin-left:16em;width:40em"><h4><%= link_to(w.title , m_path(w.movieid))%></h4>(<%=w.year%>)<br><br><p><%=w.synopsys%></p></div>
	    	<br>
        	<span data-val="<%= w.movieid %>" class = "fake_link remove_from_watchlist"> remove from watchlist </span>
	     	<hr width="770em">
	     </li>
	    <% end %>
	  </ul>
	</div>
</div>

