<!DOCTYPE html>
<html lang="en">
<head>

  <title>Movie Database</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
</head>


<body>
<div class="central border_shadow" >

  <div id="movie_show">

    <div id="trailer_panel">
      <div id="trailer_top_panel">
        <div id="movie_info"> <h3 class="movie-title">
          <%= @movie.title %>  </h3>
        </div>
        <div id="share">
          <ul id="share_list_ul">
          Share:
            <li>youtube</li>
            <li>FB</li>
            <li>Twitter</li>
          </ul>
        </div>
      </div>
      <div id="trailer_middle_panel">
        <div id="vote_panel">
          <div id="upvote_panel" align="center">
          <img src="/images/upvote.png" style="width: 80%;  height: 80%;" >
          </div> 
          <div id="downvote_panel" align="center">
          <img src="/images/downvote.png" style=" width: 80%; height: 80%;" >
          </div> 
        </div> 
        <div id="youtube_panel">
          <iframe id = "youtube_list_main" height="100%" width="100%" src="//www.youtube.com/embed/yQ5U8suTUw0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <%# middle end%>




      <div id="trailer_bottom_panel">
      <ul id="youtube_list_ul">
          
          <li><div  class="youtube_list_div">
            <img class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/0.jpg">
            <img class="yt_button" style="height: 100%;" src="/images/play.png" >
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div  class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/TSm82j_MFzY/0.jpg">
            <img class="yt_button" style="height: 100%;" src="/images/play.png" >
            <span>//www.youtube.com/embed/TSm82j_MFzY</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img  class="yt_tn" style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
          <li><div class="youtube_list_div">
            <img style=" height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/2.jpg">
            <span>//www.youtube.com/embed/yQ5U8suTUw0</span>
          </div></li>
      </ul>

          <!--
          <li><iframe class = "22" height="100%" src="//www.youtube.com/embed/yQ5U8suTUw0" frameborder="2" allowfullscreen></iframe></li>
          <li><iframe id="list2" class="youtube_list" height="100%" src="//www.youtube.com/embed/yQ5U8suTUw0?controls=2" frameborder="0" allowfullscreen></iframe></li>
          <li><iframe class = "22" height="100%" src="//www.youtube.com/embed/yQ5U8suTUw0?controls=2" frameborder="0" allowfullscreen></iframe></li>
          <li><iframe><img style=" width: 100%; height: 100%;" src="http://img.youtube.com/vi/yQ5U8suTUw0/0.jpg"></iframe></li> 
            ?controls=2 -->


      </div>


      
    </div>  <%# trailer_panel %>
    #comment section below#   
  </div>





      <!-- 

       <iframe class = "youtube container-red" width="560" height="315" src="//www.youtube.com/embed/yQ5U8suTUw0" frameborder="0" allowfullscreen></iframe>


      <div class="movie">
        <%= image_tag @movie.image %>
        <h3 class="movie-title">  <%= @movie.title %>  </h3>
        <p class="movie-release-year"> <%= @movie.release_year %> </p>
        <p class="movie-plot"> <%= @movie.plot %>  </p><br>
        <%= link_to "Edit movie", edit_movie_path(@movie) %>
      </div>
       
    
       
      <h2>Cast</h2>
      <% @actors.each do |a| %>
      <div class="actor">
        <%= image_tag a.image %>
        <h3 class="actor-name"><%= a.first_name %>_ <%= a.first_name %> </h3>
        <p class="actor-bio"> <%= a.bio %> </p>
      </div>
      <% end %>
      -->
    
  
</div>




</body>
<script type="text/javascript">

  $(document).ready(function() {


    // $('#trailer_bottom_panel').hover(function(e) {   working
//           alert("vals1111");

//              }, function() {
//           alert("vals2222");
//         });


  // $(".you").on('click',function(e){              // change url
  //       // var vals = $(this).html();
  //       // alert("you");
  //       window.frames[1].location = "http://www.w3schools.com/jsref";
  //        // $(".youtube_list_main").html(vals);
  //        // e.preventDefault();
  // });
  $(".youtube_list_div span").hide();
  $(".youtube_list_div").on('click',function(e){
        var url = $(this).find("span").text();
        // alert(url);
         $("#youtube_list_main").html(url);
         window.frames[0].location = url;
         // e.preventDefault();
  });  
  
  
  

// window.focus(); //force focus on the currenct window;
// window.addEventListener('blur', function(e){
//     if(document.activeElement == document.querySelector('iframe'))
//     {
//         alert('Focus Left Current Window and Moved to Iframe / Possible click!');
//     }
// });

// var iframe = $('iframe').contents();
// iframe.find("*").click(function(){
//    alert("test222");
// });
 
// window.focus();
// var myConfObj = {
//   iframeMouseOver : false
// };
// window.addEventListener('blur',function(e){
//   // alert ("blur");
//   e.preventDefault();
//   if(myConfObj.iframeMouseOver){
//      // alert ("iframe clickedddddddddd");
//     // window.frames[1].location = "//www.youtube.com/embed/TSm82j_MFzY";
//     $("#youtube_list_main").attr("src", "//www.youtube.com/embed/TSm82j_MFzY");
//     window.focus();
//   }
// });

// document.getElementById('list1').addEventListener('mouseover',function(){
//    myConfObj.iframeMouseOver = true;
// });
// document.getElementById('list1').addEventListener('mouseout',function(){
//     myConfObj.iframeMouseOver = false;
// });

//window.frames[1].location = "//www.youtube.com/embed/TSm82j_MFzY";

  });
</script>
</html>












